page-header {
    div {
        border: 3px solid darkblue;
        margin-bottom: 10px;
        background-color: #ABCDEF;
        padding: 20px 10px;

        header {
            font-size: 300%;
            margin: 10px;
            vertical-align: middle;
        };

        nav {
            margin: 10px;
            a {
                background-color: #bba5f6;
                border: 3px solid darkblue;
                padding: 3px;
                margin: 0px 10px;
            }

            a:link {
                color: #0000EE;
            };

            a:visited {
                color: purple;
            };

            a:hover{
                color: red;
            };

            a:active {
                color: rgb(218, 106, 8);
            }

            a:focus {
                color: #2B1ACC;
            } 
        };
    }
    
}

.education {
  border: 5px solid black;
  padding: 8px;
  margin-bottom: 10px;
}

.education p.split {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
}

html {
    background-color: lightgoldenrodyellow;
}