page-header nav a:link {
    color: #0000EE;
}

page-header nav a:visited {
    display: none;
}

page-header nav a:hover {
    color: red;
}

page-header nav a:active {
    color: yellow;
}

.education {
    border: black;
    border-width: 5px;
}